
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form >
    <h1>Please Upload A File To Proceed</h1>
</form><form class="btn-group-sm" action="/Home/Index" method="get">
    <input type="submit" name="index" value="Home" class="btn-info" style="padding:20px; margin-top: 5px" />
</form>